body{
    background-color: burlywood;
}

.card-header {
    color: greenyellow;
    background-color: blue;
}

.text-center {
    color: mediumaquamarine;
}

.team-heading {
    background-color: mediumslateblue;
}

